<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rocket_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rocket_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rocket_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rocket_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>Rocket.png</string>
            <key>size</key>
            <string>{320,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6c2ae1d5e61cf1d568d37dd0117f68:f1ad8941c526ede8ab79911c2006d0dc:e6dbbffc8a0ae3d9e3f8ff254a8c0f97$</string>
            <key>textureFileName</key>
            <string>Rocket.png</string>
        </dict>
    </dict>
</plist>
