<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SoundOnN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoundOnD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>SoundOn.png</string>
            <key>size</key>
            <string>{70,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c080d7fad0a55c5482bd63b11105715:b8cf9d7060aa43b35f5a514f47dca248:2e6ef2fcbc33c3d27b5e2ef36ddb3d91$</string>
            <key>textureFileName</key>
            <string>SoundOn.png</string>
        </dict>
    </dict>
</plist>
